@import "./base/reset";
@import "./base/typo";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";

@import "./components/buttons";

* {
    box-sizing: border-box;
}

.head {
    &__title {
        position: relative;
        z-index: 2;
        height: 63px;
        background-color: #ffffff;
        @include flex-centering-in-bloc;
        @include mob_font_headlogo;
        box-shadow:  0px 0px 2px rgba(0, 0, 0, .15);
        &--arrow {
            @include arrow-btn;

        }
    }
    &__loc {
        z-index: 1;
        height: 50px;
        @include flex-centering-in-bloc;
        background-color: $loc-grey;
        &--input {
            @include mob_font_loc-btns;
            background: transparent;
            border: none;
            width: 120px;
        }
    }
    &__rest-img {
        height: 15.8rem;
        width: 100%;
        background-size: cover;
        background-position: 50% 60%;
        &--pal {
            background-image: url(../../assets/images/img-pal.jpg);
        }
        &--del {
            background-image: url(../../assets/images/img-del.jpg);
        }
        &--note {
            background-image: url(../../assets/images/img-not.jpg);
        }
        &--alafr {
            background-image: url(../../assets/images/img-alaf.jpg);
        }
    }
}

.fa-location-dot {
    margin-right: 10px;
}

.intro {
    padding: 40px 10px 60px 10px;
    background-color: $background-color;
    &__container {
        @include flex-column;
    }
    &__title {
        margin-bottom: 20px;
        @include mob_font_introtitle-partstitle;
        text-align: center;
    }
    &__subtext {
        margin-bottom: 30px;
        @include mob_font_introsubtext;
        text-align: center;
    }
    &__btn {
        overflow: hidden;
        @include button;
    }
}

.fnct {
    padding: 50px 0 70px 0;
    background-color: #ffffff;
    width: auto;
    &__container {
        width: 334px;
        @include margin-sides;
    }
    &__title {
        margin-bottom: 30px;
        @include mob_font_introtitle-partstitle;
    }
    &__tile-container {
        @include flex-column;
        align-items: center;
        gap: 25px;
    }
    &__tile {
        display: flex;
        box-sizing: border-box;
        vertical-align: middle;
        width: 334px;
        padding: 25px 0 25px 0;
        margin-left: 12px;
        border-radius: 20px;
        background-color: $background-color;
        @include mob_font_loc-btns;
        box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.15);
        transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
        &:hover {
            background-color: $color-prim-tuile;
            & > .fa-solid {
                color: $color-prim;                
            }            
        }
        & .fa-solid {
            color: $fnct-grey;
            margin-right: 25px;
            margin-top: 2px;
        }
    }
    &__tile-nbr {
        margin: 0 25px 0 -12px;
        color: #ffffff;
        background-color: $color-prim;
        padding: 2px 7px 2px 7px;
        border-radius: 20px;
        @include mob_font_tilnbr-new;
    }
}

.rest {
    padding: 55px 0 70px 0;
    background-color: $background-color;
    @include margin-sides;
    &__title {
        margin-bottom: 20px;
        @include mob_font_introtitle-partstitle;
    }
    &__tiles {
        @include flex-column;
        gap: 18px;
    }
}

.rest-container {
    max-width: 334px;
    @include margin-sides;
}

.rest-tile {
    min-width: 335px;
    flex: 1;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    &__container {
        display: block;
    }
    &__img {
        height: 12.8rem;
        width: 100%;
        background-size: cover;
        background-position: center;
        &--img1 {
            background-image: url(../../assets/images/img-pal.jpg);
        }
        &--img2 {
            background-image: url(../../assets/images/img-not.jpg);
        }
        &--img3 {
            background-image: url(../../assets/images/img-alaf.jpg);
        }
        &--img4 {
            background-image: url(../../assets/images/img-del.jpg);
        }
    }
    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        @include flex-centering-in-bloc;
        width: 80px;
        height: 30px;
        border-radius: 2px;
        color: $deep-green;
        background-color: $color-ter;
        @include mob_font_tilnbr-new;
    }
    &__enc {
        padding: 15px 13px 15px 13px;
        background-color: #ffffff;
        &--title {
            @include mob_font_restname;
        }
        &--subtext {
            @include mob_font_restloc;
        }
    }
}

.menu-head {
    &__container {
        width: 341px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include margin-sides
    }
    &__rest-name {
        @include mob_font_titlerestname;
    }
    &__container-icon {
        @include btn-coeur-container;
        position: relative;
        margin-right: 24px;
    }
    &__icon {
        @include btn-coeur-fill;
        position: absolute;
        top: 0;
    }
    &__icon-out {
        @include btn-coeur-outline;
    }
}

.menu-container {
    border-radius: 40px 40px 0 0;
    margin-top: -34px;
    padding: 35px 0 0 0;
    max-width: 1055px;
    background-color: $background-color;
    @include margin-sides;

}

.menu {
    padding: 20px 13px 40px 13px;
    background-color: $background-color;
    @include margin-sides; 
    @include flex-column;
    gap: 40px;
    max-width:634px;
    &__button {
        width: 186px;
        @include button;
    }
}

.menu-part {
    @include flex-column;
    gap: 12px;
    &__area {
        position: relative;
    }
    &__title {
        @include mob_font_menuepd;
    }
    &__title-line {
        margin-top: 5px;
        width: 40px;
        height: 3px;
        background-color: $color-ter;
    }
}

.menu-tile {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    display: flex;
    max-width: 634px;
    cursor:pointer;
    user-select: none;
    &__text{
        flex:1;
        min-width: 0;
        @include flex-centering-menus;
        &--maintext {
            @include mob_font_epdtitle;
        }
        &--subtext{
            @include mob_font_epdsubtext;
        }
    }
    &__price {
        background-color: #ffffff;
        width: 60px;
        @include mob_font_epdsubprice;
        @include flex-centering-menus-price;
    }
    &__ok {
        width: 0px;
        overflow: hidden;
        @include flex-centering-in-bloc;
        background-color: $color-ter;
        transition: all 250ms ease-out;
        & .fa-circle-check {
            font-size: 1.5em;
            color: #ffffff;
        }
    }
    &:hover{
        & > .menu-tile__ok {
            width: 60px;
        }
    }
}




.container-icon {
    @include btn-coeur-container;
    position: absolute;
    right: 20px;
    bottom: 25px;
 }
  
.icon {
    @include btn-coeur-fill;
}
  
.icon-out {
    @include btn-coeur-outline;
    position: absolute;
    top: 0px;
}

.footer {
    padding: 22px 25px 35px 25px;
    background-color: $back-footer;
    &__title {
        margin-bottom: 15px;
        @include mob_font_footerlogo;
    }
    &__nav {
        @include flex-column;
        gap: 8px;
        &--maintext {
            @include mob_font_footermaintxt-dskfootertxt;
        }
        &--litletext {
            @include mob_font_footerlitletxt-dskfootertxt;
        }
        & .fa-solid {
            color: #ffffff;
            margin-right: 5px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1111px) {
    .rest-container {
        max-width: 690px;
    }
    .rest {
        &__tiles {
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-between;
            gap: 18px;
        }
    }
        .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 70px;
        padding: 52px 100px 43px 25px;
        &__title {
            margin-bottom: 0;
        }
        &__nav {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    }
}



@media screen and (min-width: 1112px) {
    
    .intro {
        &__title {
            @include desk_font_introtitle;
        }
    }

    .fnct {
        &__container {
            width: 1072px;
            @include margin-sides;
        }
        &__tile-container {
            width: 1072px;
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
    }

    .rest-container {
        max-width: 1072px;
        flex-direction: row;
    }

    .rest {
        &__tiles {
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 32px;
        }
    }
    .rest-tile {
        min-width: 0;
    }
    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 70px;
        padding: 52px 100px 43px 25px;
        &__title {
            margin-bottom: 0;
        }
        &__nav {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    }
}