//couleur principale du site
$color-prim: hsl(267, 66%, 60%);
//couleur secondaire du dégragé
$second-gradient-color: hsl(317, 100%, 74%);
$color-white:#ffffff;
$color-prim-tuile: hsl(267, 100%, 96%);
$color-ter:#99E2D0;
$deep-green:#008766;
$light-blue:#89C8FA;
$deep-blue:#003A68;
$back-footer:#353535;
$loc-grey:#EAEAEA;
$fnct-grey:#7E7E7E;
$black-font:#353535;
$background-color:#F7F7F7;